<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/SiniciarSessao.css"/>
    <link rel="stylesheet" href="assets/estilo.css">
    <link rel="stylesheet" href="assets/vizualizar.css">
    <title>REGISTAR PARQUEAMENTO</title>

<body>
    <nav class="sidebar locked">
        <div class="logo_items flex">
            <span class="nav_image">
            </span>
            <span class="logo_name">COBRAMAGUL</span>
            <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
            <i class="bx bx-x" id="sidebar-close"></i>
        </div>

        <div class="menu_container">
            <div class="menu_items">
                <ul class="menu_item">
                    <div class="menu_title flex">
                        <span class="title">MENU</span>
                        <span class="line"></span>
                    </div>
                    <li class="item"> <a href="regproprietario.html" class="link flex"> <i class="bx bx-home-alt"></i>
                            <span>Adicionar
                                Proprietarios</span> </a> </li>
                    <li class="item"> <a href="vizProprietarios.html" class="link flex"><i class="bx bx-grid-alt"></i>
                            <span>Listar
                                Proprietarios</span></a></li>
                    <li class="item"> <a href="regViatura.html" class="link flex"> <i class="bx bxs-magic-wand"></i>
                            <span>Adicionar
                                veiculo</span> </a> </li>
                    <li class="item"> <a href="vizViatura.html" class="link flex"><i class="bx bx-cloud-upload"></i>
                            <span>Listar
                                Veiculos</span></a></li>
                    <li class="item"> <a href="regParqueamento.html" class="link flex"><i class="bx bx-award"></i><span>
                                Registar parqueamento</span></a></li>
                    <li class="item"> <a href="vizParqueamento.html" class="link flex"> <i class="bx bx-flag"></i>
                            <span>listar
                                Parqueamento</span> </a> </li>
                    <li class="item"> <a href="regAdministrador.html" class="link flex"> <i class="bx bx-cog"></i>
                            <span>adicionar Administradores</span></a>
                    </li>
                    <li class="item"> <a href="vizAdministradores.html" class="link flex"><i
                                class="bx bx-award"></i><span>Listar
                                Administradores</span></a></li>
                    <li class="item"> <a href="jobs.html" class="link flex"><i
                                class="bx bx-award"></i><span>JOBS</span></a></li>
                </ul>
            </div>
    </nav>
        <div class="login-card-container">
            <div class="login-card">
                <div class="login-card-header">
                    <h1>Registar PARQUEAMENTO</h1>
                    <div>Por favor, insira os dados</div>
                </div>
                <form class="login-card-form" method="post">
                    <div class="form-item">
                        <span class="form-item-icon material-symbols-rounded"></span>
                        <select id="pista" placeholder="select"></select>
                    </div>
                    <div class="form-item">
                        <select id="viatura" placeholder="select"></select>
                    </div>
                    <button type="button" id="registar">Registar RESERVA</button>
                </form>
            </div>
         </div>

    <script type="text/javascript" src="../public/jquery-3.7.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '../controllers/pistCTRL.php',
                method: 'get',
                data: { 'buscarPista': JSON.stringify(true) },
                dataType: 'json',
                success: function (resposta) {
                    let html = ''
                    for (let i = 0; i < resposta.length; i++) {
                        dados = resposta[i]
                        html += "<option value='" + dados.id + "'>" + dados.nome + "</option>"
                    }
                    $('#pista').html(html)
                }
            })
            $.ajax({
                url: '../controllers/viaCTRL.php',
                method: 'get',
                data: { 'buscarViaturas': JSON.stringify(true) },
                dataType: 'json',
                success: function (resposta) {
                    let html = ''
                    for (let i = 0; i < resposta.length; i++) {
                        dados = resposta[i]
                        html += "<option value='" + dados.id + "'>" + dados.matricula + "</option>"
                    }
                    $('#viatura').html(html)
                }
            })
            $('#registar').click(function () {
                $.ajax({
                    url: '../controllers/sessCTRL.php',
                    method: 'get',
                    data: { 'vSessao': JSON.stringify(true) },
                    dataType: 'json',
                    success: function (resposta) {
                        if (resposta) {
                            console.log(resposta)
                            var parquear = {};
                            parquear['pista_id'] = $("#pista option:selected").val()
                            parquear['viatura_id'] = $("#viatura option:selected").val()
                            parquear['administrador_id'] = resposta
                            parquear['data'] = 2012
                            parquear['estado'] = 1

                            $.ajax({
                                url: '../controllers/parquCTRL.php',
                                method: 'get',
                                data: { 'buscarParqueamentos': JSON.stringify(true) },
                                dataType: 'json',
                                success: function (resposta) {
                                    let suce = true;
                                    for (let i = 0; i < resposta.length; i++) {
                                        dados = resposta[i]
                                        if (dados.viatura_id == parquear["viatura_id"] && dados.estado == 1) {
                                            suce = false;
                                        }
                                    }
                                    if (suce) {
                                        $.ajax({
                                            url: '../controllers/parquCTRL.php',
                                            method: 'post',
                                            data: { 'parquear': JSON.stringify(parquear) },
                                            dataType: 'json',
                                            success: function (resposta2) {
                                                if (resposta2.seParqueado) {
                                                    window.location.href = "vizParqueamento.html"
                                                }
                                            }
                                        })
                                    } else { alert("ja Parqueado") }
                                }
                            })
                        }
                    }
                })
            })
        })
    </script>
</body>

</html>