<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viatura Parqueada</title>
    <link rel="stylesheet" href="assets/estilo.css" />
    <link rel="stylesheet" href="assets/vizualizar.css" />
</head>

<body>
    <nav class="sidebar locked">
        <div class="logo_items flex">
            <span class="nav_image">
            </span>
            <span class="logo_name">COBRAMAGUL</span>
            <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
            <i class="bx bx-x" id="sidebar-close"></i>
        </div>

        <div class="menu_container">
            <div class="menu_items">
                <ul class="menu_item">
                    <div class="menu_title flex">
                        <span class="title">MENU</span>
                        <span class="line"></span>
                    </div>
                    <li class="item"> <a href="regproprietario.html" class="link flex"> <i class="bx bx-home-alt"></i>
                            <span>Adicionar
                                Proprietarios</span> </a> </li>
                    <li class="item"> <a href="vizProprietarios.html" class="link flex"><i class="bx bx-grid-alt"></i>
                            <span>Listar
                                Proprietarios</span></a></li>
                    <li class="item"> <a href="regViatura.html" class="link flex"> <i class="bx bxs-magic-wand"></i>
                            <span>Adicionar
                                veiculo</span> </a> </li>
                    <li class="item"> <a href="vizViatura.html" class="link flex"><i class="bx bx-cloud-upload"></i>
                            <span>Listar
                                Veiculos</span></a></li>
                    <li class="item"> <a href="regParqueamento.html" class="link flex"><i class="bx bx-award"></i><span>
                                Registar parqueamento</span></a></li>
                    <li class="item"> <a href="vizParqueamento.html" class="link flex"> <i class="bx bx-flag"></i>
                            <span>listar
                                Parqueamento</span> </a> </li>
                    <li class="item"> <a href="regAdministrador.html" class="link flex"> <i class="bx bx-cog"></i>
                            <span>adicionar Administradores</span></a>
                    </li>
                    <li class="item"> <a href="vizAdministradores.html" class="link flex"><i
                                class="bx bx-award"></i><span>Listar
                                Administradores</span></a></li>
                    <li class="item"> <a href="jobs.html" class="link flex"><i
                                class="bx bx-award"></i><span>JOBS</span></a></li>
                </ul>
            </div>
    </nav>
 
    <div>
        <h2>Detalhes do Parqueamento</h2>
        <table>
            <thead>
                <tr>
                    <th>DATA DO PARQUEAMENTO</th>
                    <th>FABRICANTE</th>
                    <th>MODELO</th>
                    <th>MATRICULA</th>
                    <th>ESTADO</th>
                    <th>ACTUALIZAR</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="../public/jquery-3.7.0.js"></script>
    <script src="verificarSessao.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '../controllers/parquCTRL.php',
                method: 'get',
                data: { 'buscarParqueamentos': JSON.stringify(true) },
                dataType: 'json',
                success: function (resposta) {
                    let opu = function opu(pp) {
                        let upp = window.location.search.substring(1),
                            uvp = upp.split("&"), npp, i;
                        for (let i = 0; i < uvp.length; i++) {
                            npp = uvp[i].split("=");
                            if (npp[0] === pp) {
                                return npp[1] === undefined ? true : decodeURIComponent(npp[1]);
                            }
                        }
                        return false;
                    };
                    let vari = opu("id")
                    for (let i = 0; i < resposta.length; i++) {
                        dados = resposta[i];
                        if (dados.id == vari) {
                            if (dados["estado"] == 1) {
                                var estado = "PARQUEADO"
                            } else {
                                var estado = "NAO PARUEADO"
                            }
                            let dataTable = document.getElementById("tbody");
                            let linha = dataTable.insertRow(0);
                            linha.insertCell(0).innerHTML = dados["data"];
                            linha.insertCell(1).innerHTML = dados["fabricante"];
                            linha.insertCell(2).innerHTML = dados["modelo"];
                            linha.insertCell(3).innerHTML = dados["matricula"];
                                // linha.insertCell(3).innerHTML = dados["matricula"];
                            linha.insertCell(4).innerHTML = "<button class='button' type='submit' id='" + dados["id"] + "'>" + estado + "</button>"
                            linha.insertCell(5).innerHTML = "<a href='actParqueamento.html?id=" + dados["id"] + "'<button class='butto' type='submit'>Actualizar</button>"
                        }
                    }

                }
            })
            $(document).on("click", ".button", function () {
                var id = $(this).attr('id');
                dataa = {}
                dataa["id"] = id;
                dataa["estado"] = 0;
                $.ajax({
                    url: '../controllers/parquCTRL.php',
                    method: 'post',
                    data: { 'estado': JSON.stringify(dataa) },
                    dataType: 'json',
                    success: function (resposta) {
                        console.log(resposta)
                        location.reload()
                    }
                })
            })
        })
    </script>
</body>

</html>