<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizualizar Viaturas</title>
    <link rel="stylesheet" href="assets/estilo.css" />
    <link rel="stylesheet" href="assets/vizualizar.css" />
</head>

<body>
    <nav class="sidebar locked">
        <div class="logo_items flex">
            <span class="nav_image">
            </span>
            <span class="logo_name">COBRAMAGUL</span>
            <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
            <i class="bx bx-x" id="sidebar-close"></i>
        </div>

        <div class="menu_container">
            <div class="menu_items">
                <ul class="menu_item">
                    <div class="menu_title flex">
                        <span class="title">MENU</span>
                        <span class="line"></span>
                    </div>
                    <li class="item"> <a href="regproprietario.html" class="link flex"> <i class="bx bx-home-alt"></i>
                            <span>Adicionar
                                Proprietarios</span> </a> </li>
                    <li class="item"> <a href="vizProprietarios.html" class="link flex"><i class="bx bx-grid-alt"></i>
                            <span>Listar
                                Proprietarios</span></a></li>
                    <li class="item"> <a href="regViatura.html" class="link flex"> <i class="bx bxs-magic-wand"></i>
                            <span>Adicionar
                                veiculo</span> </a> </li>
                    <li class="item"> <a href="vizViatura.html" class="link flex"><i class="bx bx-cloud-upload"></i>
                            <span>Listar
                                Veiculos</span></a></li>
                    <li class="item"> <a href="regParqueamento.html" class="link flex"><i class="bx bx-award"></i><span>
                                Registar parqueamento</span></a></li>
                    <li class="item"> <a href="vizParqueamento.html" class="link flex"> <i class="bx bx-flag"></i>
                            <span>listar
                                Parqueamento</span> </a> </li>
                    <li class="item"> <a href="regAdministrador.html" class="link flex"> <i class="bx bx-cog"></i>
                            <span>adicionar Administradores</span></a>
                    </li>
                    <li class="item"> <a href="vizAdministradores.html" class="link flex"><i
                                class="bx bx-award"></i><span>Listar
                                Administradores</span></a></li>
                    <li class="item"> <a href="jobs.html" class="link flex"><i
                                class="bx bx-award"></i><span>JOBS</span></a></li>
                </ul>
            </div>
    </nav>
    <main class="table">
        <section class="table__header">
            <h1>VIZUALIZAR VEICULOS</h1>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Fabricante</th>
                    <th>Ano de fabrico</th>
                    <th>Modelo</th>
                    <th>Matricula</th>
                    <th>ID do proprietario</th>
                    <th>ActualizaR</th>
                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </section>
    </main>

    <!-- <div>
        <table>
            <thead>
                <tr>
                    <th>Fabricante</th>
                    <th>Ano de fabrico</th>
                    <th>Modelo</th>
                    <th>Matricula</th>
                    <th>ID do proprietario</th>
                    <th>ActualizaR</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div> -->
    <script type="text/javascript" src="../public/jquery-3.7.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '../controllers/viaCTRL.php',
                method: 'get',
                data: { 'buscarViaturas': JSON.stringify(true) },
                dataType: 'json',
                success: function (resposta) {
                    let html = ''
                    for (let i = 0; i < resposta.length; i++) {
                        dados = resposta[i];
                        let dataTable = document.getElementById("tbody");
                        let linha = dataTable.insertRow(0);
                        linha.insertCell(0).innerHTML = dados["fabricante"];
                        linha.insertCell(1).innerHTML = dados["ano_fabrico"];
                        linha.insertCell(2).innerHTML = dados["modelo"];
                        linha.insertCell(3).innerHTML = dados["matricula"];
                        linha.insertCell(4).innerHTML = dados["propretario_id"];
                        linha.insertCell(5).innerHTML = "<a href='actViatura.html?id=" + dados["id"] + "'/><button class='butto' type='submit' style='padding:10px' >Actualizar</button>"
                    }
                }
            })
        })
    </script>
</body>

</html>